/* put your all custom css rules here */
/* you must not change other scss files */

body {
  // available colors are: blue, green, purple, orange and grey
  --currentColor: var(--blue);

  h2 {
    font-size:1.17em;
  }
  h3 {
    font-size:1em;
  }
  .menu {
    background: var(--grey);
    padding: 10px;
    a {
      color: white;
      line-height: 22px;
      font-size: 14px;
      text-transform: uppercase;
      padding-right: 28px;
      font-weight: unset;
      text-decoration: none;
    }
  }
  main div {
    width:33.3%;
    img {
      height: 230px;
    }
  }
}